.wrap {
  width: 100%;
  background-color: #141618;
  color: #a29c9c;
  /* height: 150px */
  bottom: 0;
  margin: 0;
  padding: 0;
}
.footerWrap {
  display: flex;
  justify-content: space-between;
  max-width: 1260px;
  margin: 0 auto;
  padding: 30px;
  align-items: center;
  /* background-color: #141618; */
}
.info {
  display: flex;
  flex-direction: column;
}
.logo {
  width: 140px;
}
.address {
  padding: 0;
  margin: 0;
  margin-top: 10px;
}
.email {
  padding: 0;
  margin: 0;
  margin-top: 10px;
}

@media (max-width: 440px) {
  .footerWrap {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
  .copyright {
    margin-top: 1.5rem;
  }
  .info {
    align-items: center;
  }
}
